<h3>Welcome {{name}} </h3>

{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <td>Title</td>
        <td>Date</td>
        <td>Status</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td><a href="/stories/{{_id}}">{{title}}</a></td>
          <td>{{formatDate createdAt "MMMM Do YYYY hh:mm:ss a"}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a href="/stories/edit/{{_id}}" class="btn btn-float btn-small">
              <i class="fas fa-edit"></i>
            </a>
            <form
              action="/stories/delete/{{_id}}"
              method="POST"
              id="delete-form"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <button class="btn red btn-small" type="submit">
                <i class="fas fa-trash"></i>
              </button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p> You have not created any stories</p>
{{/if}}