<div class="row" style="margin-top: 10px;">
  <a href="/dashboard" class="btn btn-small">Go to Dashboard</a>
  <a href="/stories/edit/{{story._id}}" class="btn btn-float btn-small">
    Edit
    <i class="fas fa-edit"></i>
  </a>
  <form action="/stories/delete/{{story._id}}" method="POST" id="delete-form">
    <input type="hidden" name="_method" value="DELETE" />
    <button class="btn red btn-small" type="submit">
      <i class="fas fa-trash"></i>
    </button>
  </form>
</div>

<div class="row">
  <h1>{{story.title}}</h1>
  <h6>{{story.status}}</h6>
  <p>{{{story.body}}}</p>
</div>

<div class="row">
  <div class="chip">
    Posted by:
    <img src="{{story.user.image}}" alt="user image" />
    <a href="/stories/user/{{user._id}}">{{story.user.displayName}}</a>
  </div>
</div>